.body {
  display:flex;
  align-items: center;
  align-content: center;



}
.squareContainer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 90vw;    
    height: 90vw;
    max-width: 600px;
    max-height: 600px;


}

.grid {
    box-sizing: border-box;
    
    margin: 0px;
}

