body {
  display: flex;
  flex-direction: column; /* mek input deh pon top */
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
  min-height: 100vh; /* full height fi center */
  margin: 0;
  background: #f5f5f5;
}

.inputs {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.squareContainer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 90vw;
  height: 90vw;
  max-width: 600px;
  max-height: 600px;
  background-color: white;
}

.grid {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #eee;
}